.place{
  display: grid;
  grid-template: 1fr auto / 460px 1fr;
  grid-template-areas: 
  "title website"
  "image description";
  gap: 48px 40px;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .place {
    grid-template: 1fr auto / 440px 1fr;
    grid-template-areas: 
    "title website"
    "image description";
    gap: 48px 32px;
  }
}

@media (max-width: 1020px) {
  .place {
    grid-template: 1fr auto / minmax(340px, 1fr) 1fr;
    grid-template-areas: 
    "title website"
    "image description";
  }
}

@media (max-width: 768px) {
  .place {
    grid-template: 1fr auto / 340px 1fr;
    grid-template-areas: 
    "title website"
    "image description";
    gap: 48px 28px;
  }
}

@media (max-width: 750px) {
  .place {
    grid-template: 1fr auto / 1fr 1fr;
    grid-template-areas: 
    "title website"
    "image description";
    gap: 48px 28px;
  }
}

@media (max-width: 600px) {
  .place {
    grid-template: auto auto auto auto / 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "description";
    gap: 32px;
  }
}